<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Curso de Desarrollo Web</title>
        <link rel="stylesheet" href="../CSS/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
<body>
    <header>

        <h3><i class="fa-solid fa-futbol"></i> Bienvenido a Mundo Deportivo</h3><hr>
    </header>

    <hr><nav>
            <ul >
                <li><a href="../index.html"><img style="height: 100px" src="/IMG/LOGO-Mundodeportivo.png" alt=""></a></li> 
                <li><i class="fa-regular fa-clock" style="color: #ffffff;"></i><a href="/templates/ultima_hora.html">Última Hora</a></li>
                <li><i class="fa-solid fa-user" style="color: #ffffff;"></i><a href="/templates/registro.html">Creá tu cuenta</a></li>
                <li><i class="fa-solid fa-id-card" style="color: #ffffff;"></i><a href="/templates/login.html">Iniciar Sesión</a></li>
                    
            </ul>
            
    </nav><hr>





    <article>
            Lionel Messi y su vuelta a los entrenamientos con el Inter Miami <br>
            <img style="height: 250px" src="/IMG/MessiIM.avif" alt=""> <img style="height: 250px" src="/IMG/MessiIM2.avif" alt="">
            <h5>Lionel Messi volvió a los entrenamientos con Inter Miami. (Foto: IG Inter Miami)</h5><br><br>
            <p>Se le terminaron las vacaciones a Lionel Messi. Tras de pasar las fiestas en su Rosario natal y regresar a Estados Unidos, el campeón del mundo se presentó en las instalaciones del Inter Miami para comenzar la pretemporada con el elenco de Florida.</p><br>            
    </article>
    <aside><h4>Leé también: <a class="link" href="/templates/SuarezIM.html">Presentación de Luis Suárez en el Inter de Miami</h4></a></aside><br>
    <article>
            El capitán argentino hace varios días que estaba en Florida, donde se sometió a los estudios médicos correspondientes que demanda el club para el inicio de la pretemporada, que contará con siete encuentros, entre los que se desacatan el cruce ante el Al Nassr de Cristiano Ronaldo, en Asia, y el partido contra Newell’s, en Miami. <br><br>
            El rosarino llegó al campo de juego acompañado de su amigo y nuevo refuerzo de Inter, Luis Suárez. Luego se fueron sumando las otras estrellas del plantel como Jordi Alba y Sergio Busquets. Todos fueron compañeros en el Barcelona, donde se cansaron de levantar títulos.
    </article>













    <hr><footer>
        <p>Volver a <a href="../index.html">Inicio</a></p>
        <p>Copyright &copy; Emanuel Lincic 2024</p>
        <ul>                
            <li><a href="/templates/contacto.html">Contacto</a></li>
            <li><a href="/templates/ayuda.html">Ayuda</a></li>    
        </ul>
    </footer>    
</body>
</html>