<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Curso de Desarrollo Web</title>
        <link rel="stylesheet" href="../CSS/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
<body>
    <header>

        <h3><i class="fa-solid fa-futbol"></i> Bienvenido a Mundo Deportivo</h3><hr>
    </header>

    <hr><nav>
            <ul >
                <li><a href="../index.html"><img style="height: 100px" src="/IMG/LOGO-Mundodeportivo.png" alt=""></a></li> 
                <li><i class="fa-regular fa-clock" style="color: #ffffff;"></i><a href="/templates/ultima_hora.html">Última Hora</a></li>
                <li><i class="fa-solid fa-user" style="color: #ffffff;"></i><a href="/templates/registro.html">Creá tu cuenta</a></li>
                <li><i class="fa-solid fa-id-card" style="color: #ffffff;"></i><a href="/templates/login.html">Iniciar Sesión</a></li>
            </ul>
        </nav><hr>





    <article>
            El presidente de la Nación, Javier Milei, insistió el domingo con la posibilidad de aceptar el ingreso de las Sociedades Anónimas Deportivas (SAD) en el fútbol argentino porque “la inversión entra rápido y es un negocio fácil” y reafirmó que Chelsea, de Inglaterra, está interesado en “comprar a Boca, Racing, Newell’s, Lanús y Estudiantes de La Plata”. <br>
            “Lo interesante de las SAD en el fútbol es que la inversión entra muy rápido. Porque es un negocio muy fácil. No hay que urdir una maquinaria enorme, porque construir una planta te puede demandar, no sé, dos años. Está la voluntad de inversión manifestada por Chelsea, en el caso de querer comprar a Boca, Racing, Newell’s, Lanús y Estudiantes”, dijo Milei en declaraciones a Radio Mitre. <br>

            <img style="height: 500px" src="../IMG/SAD2.jpeg" alt="">

            <h4>Leé también: <a class="link" href="/templates/sadclubes.html">Respuesta de algunos clubes hacia las sad</a></h4>
    </article>














    <hr><footer>
        <p>Volver a <a href="../index.html">Inicio</a></p>
        <p>Copyright &copy; Emanuel Lincic 2024</p>
        <ul>                
            <li><a href="/templates/contacto.html">Contacto</a></li>
            <li><a href="/templates/ayuda.html">Ayuda</a></li>    
        </ul>
    </footer>    
</body>
</html>