<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Curso de Desarrollo Web</title>
        <link rel="stylesheet" href="../CSS/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
<body>
    <header>

        <h3><i class="fa-solid fa-futbol"></i> Bienvenido a Mundo Deportivo</h3><hr>
    </header>

    <hr><nav>
            <ul>
                <li><a href="../index.html"><img style="height: 100px" src="/IMG/LOGO-Mundodeportivo.png" alt=""></a></li> 
                <li><i class="fa-regular fa-clock" style="color: #ffffff;"></i><a href="/templates/ultima_hora.html">Última Hora</a></li>
                <li><i class="fa-solid fa-user" style="color: #ffffff;"></i><a href="/templates/registro.html">Creá tu cuenta</a></li>
                <li><i class="fa-solid fa-id-card" style="color: #ffffff;"></i><a href="/templates/login.html">Iniciar Sesión</a></li>
                    
            </ul>
            
    </nav><hr>






    <article>
            <h3>Luis Suárez, de nuevo junto a Lionel Messi: Inter Miami anunció la contratación del delantero uruguayo.</h3> <br>
            <img style="height: 250px" src="/IMG/SuarezIM.avif" alt=""> <img style="height: 250px" src="/IMG/MessiIM2.avif" alt="">
            <br><br>
            <p>Para Lionel Messi, el desembarco en Inter Miami supuso más que una elección para la parte final de su carrera futbolística. La decisión apostó a un proyecto de vida que incluya pasarla bien y estar rodeado de gente afín. Y poco a poco va logrando ese ecosistema. Primero, con las incorporaciones de Jordi Alba y Sergio Busquets, viejos compañeros de los tiempos de gloria en Barcelona. Ahora, llegará otro compinche del club culé que además es uno de sus grandes amigos: Luis Suárez. El atacante uruguayo tiene todo listo para ser refuerzo del equipo de Florida. Tras el acuerdo de palabra sellado hace un mes, firmará por un año con opción a extender el vínculo. Inter Miami lo hizo oficial este viernes, con varios posteos en su redes sociales. El más entrañable, uno con la foto de cuatro niños de espalda, cada uno con la camiseta de los futbolistas que jugaron juntos en el glorioso Barsa: Busquets, Alba, Messi y Suárez.</p><br>
            <p>“Estamos encantados de dar la bienvenida a nuestro club a Luis Suárez, un delantero de clase mundial. Luis es un competidor feroz cuyo afán ganador encarna lo que queremos de nuestros jugadores. Prometimos a nuestros aficionados que buscaríamos a los mejores jugadores del mundo para construir una plantilla que pueda competir en los escalones más altos del continente americano. Luis, que viene de ganar premios en Brasil, será una incorporación clave para nuestra plantilla. Seguiremos siendo ambiciosos y nos esforzaremos siempre por alcanzar la libertad de soñar”, declaró Jorge Mas, propietario gerente de Inter Miami.</p><br>   
            <img style="height: 350px" src="/IMG/suarez-y-messi.avif" alt="Suárez y Messi en sus selecciones"> <br>
            <p>De último muy buen paso por Gremio, Lucho se sumará a la pretemporada con el conjunto de camiseta rosa y cumplirá el sueño de reencontrarse con su gran amigo Messi, con quien compartió el ataque de Barcelona entre 2014 y 2020 y conquistó 13 títulos: cuatro ligas, cuatro Copas del Rey, dos supercopas domésticas, una Champions League, una Supercopa de Europa y un Mundial de Clubes.</p><br>
            <p>“Estamos encantados de que un jugador de la calidad de Luis y su pasión por el fútbol se una a nuestro Club. Se une a una plantilla que está inspirando a la próxima generación y estamos deseando verle saltar al campo tanto con antiguos compañeros como con jóvenes jugadores de nuestra Academia”, dijo David Beckham, copropietario del club de Florida y el cerebro detrás del armado del equipo.</p>
            <img style="height: 350px" src="/IMG/luis-suarez-en-la-presentacion-como-jugador.jpg" alt="Presentación de Luis Suárez"><br>
            <p>En declaraciones publicadas por el sitio web de Inter Miami, Suárez afirmó: “Estoy muy contento y emocionado de asumir este nuevo reto con el Inter de Miami. Estoy impaciente por empezar y dispuesto a trabajar para hacer realidad el sueño de ganar más títulos con este gran Club. Soy optimista acerca de lo que podemos lograr juntos con nuestra ambición compartida. Lo daré todo para dar una alegría a estos grandes aficionados de los que tanto he oído hablar mientras vista los colores del Inter Miami, y estoy deseando reencontrarme con grandes amigos y jugadores. También estoy ansioso por conocer a mis nuevos compañeros y entrenadores.”</p>

    </article>
            












    <hr><footer>
        <p>Volver a <a href="../index.html">Inicio</a></p>
        <p>Copyright &copy; Emanuel Lincic 2024</p>
        <ul>                
            <li><a href="/templates/contacto.html">Contacto</a></li>
            <li><a href="/templates/ayuda.html">Ayuda</a></li>    
        </ul>
    </footer>    
</body>
</html>